.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.col {
  align-items: center;
}

.col1 {
  grid-column-start: 1;
  grid-column-end: 10;
}

.col2 {
  grid-column-start: 10;
  grid-column-end: 16;
}

.navbar .icon{
  display: block;
  margin-right: 1rem;
  font-size: 2rem;
}

.navbar .icon:hover{
  color:  #f21400;
}

.campuses{
  display: none;
}

.navbar.responsive{
  height: auto;
  align-items: flex-start;
  margin-top: -0.54rem;
}

.navbar.responsive .campuses {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.navbar.responsive .btns{
  display: flex;
  flex-direction: column;
}

.navbar.responsive .icon{
  text-align: right;
  margin-right: 1rem;
  margin-top: 2rem;
}

.navbar.responsive .logo{
  margin-top: -0.15rem;
}

.footer {
  grid-column-end: 16;
  height: 400px;
}
footer {
  flex-direction: row;
  flex-wrap: wrap;
}

footer div:nth-child(2) {
  height: 200px;
  width: 200px;
}

footer div {
  height: 200px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
  overflow-wrap: break-word;
}

.responsive {
  flex-direction: column;
}

.logo {
  margin-right: auto;
}

.navbar .icon {
  display: block;
}

.logo a img {
  margin-right: 1.6rem;
}

.navbar.responsive .campuses {
  margin-top: 0;
  width: 100vw;
  transition: height 1s;
}

.campuses button {
  width: 90%;
  margin: 0;
  margin-bottom: 0.4rem;
}

.navbar.responsive .icon {
  text-align: right;
  margin-right: 0;
  margin-top: 2rem;
  position: absolute;
  top: 0;
  right: 1rem;
}

.navbar.responsive {
  align-items: center;
}
