.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  position: absolute;
  top: 17rem;
}

.col {
  align-items: center;
}

.col1 {
  grid-column-start: 1;
  grid-column-end: 16;
}

.col2 {
  grid-column-start: 1;
  grid-column-end: 16;
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 16;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: white;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.title{
  font-size: 3rem;
  top: 12rem;
}

.footer div {
  height: 100px;
  width: 100%;
  padding: 0 20px;
}

footer div:nth-child(2) {
  height: 100px;
  width: 100%;
}

.restaurant {
  margin-bottom: 0;
}

.hsl-data {
  margin: 1rem 0;
  width: 100%;
}

.hslBox {
  margin-top: 0;
  width: 90%;
}

.hslLogo {
  margin-right: auto;
  text-align: left;
}

.hslHeader {
  width: 50%;
  text-align: right;
}


.info {
  overflow-x: hidden;
}

.stop {
  width: 100%;
}



