:root {
  --restBorders: rgb(233, 233, 233);
  --shadowColor: rgba(104, 104, 104, 0.75);
  --orange: #f26522;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.gridRel {
  position: relative;
  width: 100%;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 200px;
  position: absolute;
  top: 28rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col1 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.col2 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

footer h3 {
  color: var(--orange);
}

footer div:nth-child(2) {
  background-color: var(--orange);
  color: white;
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

footer div:nth-child(2) h3 {
  color: white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5.2rem;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background-color: white;
}

.navbar .icon {
  display: none;
  color: var(--orange);
  outline: none;
  border: none;
}

.logo a img {
  width: 8rem;
  margin: 1rem 3rem 1rem 1rem;
}

.activeCampus {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: var(--orange);
  color: white;
  text-align: center;
  font-size: 1.1rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.campus {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 1.1rem;
  margin: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.language button {
  height: 2rem;
  text-decoration: none;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position-y: center;
  transition: 0.2s;
  border-radius: 3px;
}

.notSelectedLanguage {
  width: 1.5rem;
  transition: 0.2s;
  border-radius: 3px;
}

.notSelectedLanguage:hover {
  width: 3rem;
  background-size: 100%;
  margin-right: 0;
}

.selectedLanguage {
  width: 3rem;
  background-size: 100%;
  margin-right: 0;
  -webkit-box-shadow: 0px 10px 13px -7px var(--orange),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px var(--orange),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.language button:focus {
  outline: none;
  border: none;
}

.fi {
  background-image: url("finland.svg");
}

.en {
  background-image: url("united-kingdom.svg");
}

.campuses button:hover {
  background-color: #ff9968;
  color: white;
  border-radius: 0.3rem;
}

.campuses button:focus {
  border: none;
  outline: none;
}

.language,
.campuses {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo a {
  margin-top: 0.2rem;
}

.carouselDirection {
  width: 5rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: fixed;
  filter: brightness(75%);
}

.title {
  font-size: 5rem;
  color: white;
  text-shadow: 0px 0px 10px black;
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  text-align: center;
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 4rem;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 5px -3px var(--shadowColor);
  -webkit-box-shadow: 0px 4px 5px -3px var(--shadowColor);
  -moz-box-shadow: 0px 4px 5px -3px var(--shadowColor);
  border-radius: 15px;
  border: 1px solid var(--orange);
  width: 100%;
  background-color: white;
  margin-bottom: 6rem;
}

.restaurant ul {
  list-style-type: none;
  padding: 1rem;
}

.menu {
  padding: 10px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
}

.mealInfo {
  display: flex;
}

.menuName {
  max-width: 15rem;
  margin: 0.5rem;
}

.menuPrice {
  margin: 0.5rem;
}

.menuCode {
  margin: 0.5rem;
}

.restaurant h3{
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  padding: 1rem;
  color: white;
  background-color: var(--orange);
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.resTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  padding: 1rem;
  color: white;
  background-color: var(--orange);
  text-align: center;
}

.resCarouselLeft {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  width: 3rem;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.resCarouselRight {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 3rem;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.resCarouselLeft:hover {
  background: rgb(242, 101, 34);
  background: linear-gradient(
    90deg,
    rgba(242, 101, 34, 0.8379552504595589) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
}

.resCarouselRight:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(242, 101, 34, 0.8379552504595589) 100%
  );
  opacity: 1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 280px;
  width: 100%;
}

.colPadding {
  width: 100%;
  padding: 20px;
}

.slide {
  border: 1px solid #e9e9e9;
  border-radius: 15px;
  width: 100%;
  padding-top: 56.25%;
  background-color: white;
  opacity: 0;
  transform: none;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  background-size: contain;
}

.slide ul {
  padding: 0 0 0 15px;
  list-style: none;
}

.slide ul li {
  padding: 10px 0 0 0;
}

.slide ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--orange); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.slide h3 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}

.slide h3:only-child {
  margin: 0;
}

.carousel {
  position: relative;
  width: 100%;
}

.carouselLeft {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  width: 3rem;
  opacity: 0;
  transition: 0.3s;
}

.carouselRight {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 3rem;
  opacity: 0;
  transition: 0.3s;
}

.carouselLeft:hover {
  background: rgb(242, 101, 34);
  background: linear-gradient(
    90deg,
    rgba(242, 101, 34, 0.8379552504595589) -50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
}

.carouselRight:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(242, 101, 34, 0.8379552504595589) 150%
  );
  opacity: 1;
}

.arrowLeft {
  width: 15px;
  height: 15px;
}

.arrowRight {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 15px;
  height: 15px;
}

.hsl-data {
  margin-top: 0;
  width: 17rem;
}

.hslBox {
  padding: 2rem 1rem;
  width: fit-content;
  background-color: rgb(255 255 255 / 90%);
  border-radius: 3px;
  text-align: center;
}

.hslLogo {
  height: 3rem;
  padding: 3px;
  margin-bottom: 1rem;
  float: left;
  width: 8.5rem;
}

.hslHeader {
  height: 3rem;
  padding: 3px;
  margin-bottom: 1rem;
  width: 8.5rem;
  float: right;
  font-weight: 500;
  color: #1c87c9;
}

.hslBusIcon {
  width: 112px;
  height: 108px;
  background: url("94f6276c61602211b768bb7a910fcb2a.png") no-repeat;
  position: absolute;
  background-position: -122px 0;
  left: -32px;
  top: -36px;
  z-index: 2;
  transform: scale(0.2, 0.2);
}

.hslMetroIcon {
  width: 112px;
  height: 108px;
  background: url("94f6276c61602211b768bb7a910fcb2a.png") no-repeat;
  position: absolute;
  background-position: 2px -124px;
  left: -32px;
  top: -36px;
  z-index: 2;
  transform: scale(0.2, 0.2);
}

.hslTrainIcon {
  width: 112px;
  height: 108px;
  background: url("94f6276c61602211b768bb7a910fcb2a.png") no-repeat;
  position: absolute;
  background-position: -370px 0;
  left: -32px;
  top: -36px;
  z-index: 2;
  transform: scale(0.2, 0.2);
}

.stop h3 {
  padding: 0.5rem 3rem 0.5rem 3rem;
  background-color: var(--restBorders);
  text-align: left;
  outline: none;
  font-size: 1rem;
  font-weight: 100;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1px;
  border-radius: 3px;
  box-shadow: 0px 4px 5px -3px var(--shadowColor);
  -webkit-box-shadow: 0px 4px 5px -3px var(--shadowColor);
  -moz-box-shadow: 0px 4px 5px -3px var(--shadowColor);
  border: 1px solid var(--restBorders);
  position: relative;
}

.busStop h3 {
  background-color: white;
  color: #007ac9;
}

.busStop h3:focus + ul {
  border-top: 1px solid #007ac9;
}

.busStop .bus {
  color: #007ac9;
}

.metroStop h3 {
  background-color: white;
  color: #f26522;
}

.metroStop h3:focus + ul {
  border-top: 1px solid #f26522;
}

.metroStop .bus {
  color: #f26522;
}

.trainStop h3 {
  background-color: white;
  color: #8c4799;
}

.trainStop h3:focus + ul {
  border-top: 1px solid #8c4799;
}

.trainStop .bus {
  color: #8c4799;
}

.stopList {
  background-color: white;
  height: 0;
  width: 100%;
  transition: 0.5s;
  overflow-y: hidden;
}

.timeTable {
  display: flex;
}

.time {
  width: 75px;
  text-align: center;
  border-radius: 5px;
  color: #009b72;
  border: 1px solid #009b72;
  padding: 3px;
}

.bus {
  color: #0d3b66;
  width: 50px;
  text-align: end;
  padding: 3px;
  padding-left: 10px;
  font-size: 1.1rem;
}

.destination {
  padding: 3px;
  padding-right: 10px;
}

.stopList li {
  padding-top: 10px;
  padding-left: 10px;
}

h4 {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--orange);
}
