*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
}

.restaurant{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  border: 1px solid black;
  padding: 1rem;
}

.restaurant ul{
  list-style-type: none;
}

.restaurant h3{
  margin-bottom: 1rem;
  text-align: center;
}

.menuItem{
  display: flex;
  justify-content: space-between;
}

.mealInfo{
  display: flex;
}

.menuName{
  max-width: 15rem;
  margin: 0.5rem;
}

.menuPrice{
  margin: 0.5rem;
}

.menuCode{
  margin: 0.5rem;
}
