:root {
  --restBorders: rgb(233, 233, 233);
  --shadowColor: rgba(104, 104, 104, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}

.logo a img{
  width: 9rem;
  margin: 1rem;
}

.activeCampus{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: #111;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.campus{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.language button {
  height: 2rem;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position-y: center;
}

.notSelectedLanguage:hover{
  width: 3rem;
  background-size: 100%;
  margin-right: 0;
  box-shadow: 0px 0px 7px #111;
}

.selectedLanguage{
  width: 3rem;
  background-size: 100%;
  margin-right: 0;
  box-shadow: 0px 0px 7px #111;
}

.language button:focus{
  outline: none;
  border: none;
}

.fi{
  background-image: url('finland.svg');
}

.en{
  background-image: url('united-kingdom.svg');
}

.campuses button:hover {
  background-color: #111;
  color: white;
}

.language, .campuses {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carouselDirection{
  margin: auto;
  width: 5rem;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-y: center;
  width: 100%;
  height: 60vh;
}

.banner h1{
  font-size: 5rem;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 10px black;
}

.restaurant, .stop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  box-shadow: 0px 4px 5px -3px var(--shadowColor);
  -webkit-box-shadow: 0px 4px 5px -3px var(--shadowColor);
  -moz-box-shadow: 0px 4px 5px -3px var(--shadowColor);
  border-radius: 15px;
  border: 1px solid var(--restBorders);
  max-width: 40rem;
}

.restaurant ul {
  list-style-type: none;
  padding: 1rem;
}

.restaurant h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.menuItem {
  display: flex;
  justify-content: space-between;
}

.mealInfo {
  display: flex;
}

.menuName {
  max-width: 15rem;
  margin: 0.5rem;
}

.menuPrice {
  margin: 0.5rem;
}

.menuCode {
  margin: 0.5rem;
}

.restaurant h3{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 1rem;
  background-color: var(--restBorders);
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide {
  border: 1px solid black;
  margin: 10px;
  max-width: 20rem;
  padding: 5px;
}

.slide ul {
  padding: 0 0 0 15px;
}

.slide ul li {
  padding: 10px 0 0 0;
}

.stop h3 {
  padding: 0.5rem 3rem 0.5rem 3rem;
  background-color: var(--restBorders);
  text-align: center;
  outline: none;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.stop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1px;
  box-shadow: 0px 4px 5px -3px var(--shadowColor);
  -webkit-box-shadow: 0px 4px 5px -3px var(--shadowColor);
  -moz-box-shadow: 0px 4px 5px -3px var(--shadowColor);
  border: 1px solid var(--restBorders);
  max-width: 40rem;
}

.stopList {
  height: 0;
  width: 100%;
  transition: 0.5s;
  overflow-y: hidden;
  padding: 0 1rem 0 2rem;
}

.stopList li {
  padding-top: 4px;
}
